{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    <div class="container">
        {% include "includes/alerts.html" %}
        <div class="row">
            <aside class="col-md-3">
                <!--   SIDEBAR   -->
                <ul class="list-group">
                    <a class="list-group-item" href="#"> My order history </a>
                    <a class="list-group-item active" href="">Change password </a>
                </ul>
                <br>
                <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log
                        out</span> </a>
                <!--   SIDEBAR .//END   -->
            </aside>
            <main class="col-md-9">
                <h4 class="card-title mb-4">Change password</h4>
                <form action="{% url 'change_password' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Old password"
                            name="old_password" value="{{ old_password }}">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="New password"
                            name="new_password" value="{{ new_password }}">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm password"
                            name="confirm_password" value="{{ confirm_password }}">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Save </button>
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" onclick="window.location.href="{% url 'dashboard' %}"" class="btn btn-primary btn-block"> Cancel </button>
                    </div> <!-- form-group// -->
                </form>
            </main>
        </div> <!-- row.// -->
    </div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
